@media (min-width: 320px) {
    #slogan {
        font-size: 1rem;
        margin: auto;
    }
    .sloganContainer {
        margin: 1rem;
    }
    .btn-group {}
    #savebtn {
        width: 50%;
        position: relative;
        margin: auto;
    }
}

@media (min-width: 700px) {
    #slogan {
        font-size: 2rem;
    }
    .sloganContainer {
        margin: 1rem;
    }
}