<div *ngIf="isCameraExist; else noCameraExist">
    <div style="text-align:center">
        <webcam [height]="500" [width]="1000" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam" [switchCamera]="nextWebcamObservable"></webcam>

        <div class="slogan">
            <span>Give your best shot for the ad.</span>
        </div>
        <div id="btns">
            <div class="btn-group">
                <input type="image" class="saveRetryBtns" src="assets/images/save.png" (click)="takeSnapshot()">&nbsp;
                <!-- <button class="button" (click)="changeWebCame(true)">Toggle Camera</button> -->
                <input type="image" class="saveRetryBtns" src="assets/images/retry.png" (click)="onOffWebCame()">
            </div>
        </div>

    </div>

    <div *ngIf="errors.length > 0">
        <h4>Error Messages:</h4>
        <ul *ngFor="let error of errors">
            <li>{{ error | json }}</li>
        </ul>
    </div>
</div>

<ng-template #noCameraExist>
    Camera device not available
</ng-template>