<div *ngIf="isCameraExist; else noCameraExist">
    <div style="text-align:center">
        <webcam [height]="500" [width]="1000" [allowCameraSwitch]="false" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam" [switchCamera]="switchCameraValue"></webcam>
        <div class="sloganContainer">
            <span id="slogan">Give your best shot4 for the ad</span>
        </div>
        <div class="btn-group">
            <input type="image" src="assets/images/save.png" (click)="takeSnapshot()">
            <!-- <input type="image " src="assets/images/retry.png " (click)="changeWebCame(true) "> -->
            <!-- <button class="button " (click)="onOffWebCame() ">Switch camera</button> -->
        </div>
    </div>



    <div *ngIf="errors.length> 0">
        <h4>Error Messages:</h4>
        <ul *ngFor="let error of errors">
            <li>{{ error | json }}</li>
        </ul>
    </div>
</div>

<ng-template #noCameraExist>
    Camera device not available
</ng-template>