@media (min-width: 320px) {
    #slogan {
        font-size: 4rem;
        margin: auto;
    }
    .sloganContainer {
        margin: 1rem;
    }
}

@media (min-width: 700px) {
    #slogan {
        font-size: 4rem;
        margin: auto;
    }
    .sloganContainer {
        margin: 1rem;
    }
}