<div id="myContainer" class="container">
    <img />
    <div style="position: relative; left: 0; top: 0;">
        <div id="combinedImg">
            <img id="box" src="assets/images/box.png">
            <img id="clickedpic" [(src)]="photoUrl" alt="clickedPic">
        </div>
        <img id="ad" src="assets/images/ad.png">
        <img id="downloadbtn" (click)="downloadDivs()" src="assets/images/download.png">
        <span id="textnexttodownload">Download Snapshot</span>
        <!-- <img id="retrybtn" (click)="retry()" src="assets/images/retry.png"> -->
        <div id="letspledge">
            LET'S PLEDGE TO STOP TOBACCO CONSUMPTION
        </div>
        <div id="tobaccokills">
            Tobacco kills up to half of its users. Tobacco kills more than 8 million people each year. More than 7 million of those deaths are the result of direct tobacco use while around 1.2 million are the result of non-smokers being exposed to second-hand smoke.
        </div>

        <small id="roadcastfooter">A Roadcast initiative</small>
    </div>
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
        <p style="color: white"> Loading... </p>
    </ngx-spinner>


</div>