@media (min-width:320px) {
    #box {
        width: 50%;
        position: relative;
        left: 26.2%;
        top: 20px;
    }
    #ad {
        width: 115%;
        position: absolute;
        top: 98%;
        left: -5%;
    }
    #clickedpic {
        position: absolute;
        top: 48.3%;
        right: 24%;
        width: 49.2%;
        height: 42%;
        box-shadow: 0 0 8px 8px white inset;
    }
    #downloadbtn {
        position: absolute;
        width: 20%;
        top: 130%;
        right: 65%;
    }
    #textnexttodownload {
        position: absolute;
        width: 50%;
        top: 136.5%;
        right: 14%;
        font-size: 1rem;
        line-height: 1;
    }
    #retrybtn {
        position: absolute;
        width: 30%;
        top: 147%;
        right: 55%;
    }
    #roadcastfooter {
        width: 100%;
        text-align: center;
        font-size: 1rem;
        position: absolute;
        top: 160%;
        right: 2%;
    }
}

@media (min-width:700px) {
    #box {
        width: 27%;
        height: 650px;
        position: relative;
        left: 5%;
    }
    #ad {
        width: 60%;
        position: absolute;
        top: 30%;
        left: 32%;
    }
    #clickedpic {
        position: absolute;
        top: 48%;
        right: 68.2%;
        width: 26.5%;
        height: 40%;
        box-shadow: 0 0 8px 8px white inset;
    }
    #downloadbtn {
        position: absolute;
        width: 10%;
        top: 60%;
        right: 55%;
    }
    #textnexttodownload {
        position: absolute;
        width: 40%;
        top: 65%;
        right: 15%;
        font-size: 2rem;
        line-height: 1;
    }
    #retrybtn {
        position: absolute;
        width: 15%;
        top: 80%;
        right: 50%;
    }
    #roadcastfooter {
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        position: absolute;
        top: 105%;
        right: 0%;
    }
    body {
        width: 200%;
    }
}