@media (min-width:320px) {
    #box {
        width: 50%;
        position: relative;
    }
    #ad {
        width: 50%;
        position: absolute;
        top: 40%;
    }
    #clickedpic {
        position: absolute;
        top: 45%;
        right: 50%;
        width: 50%;
        height: 40%;
        box-shadow: 0 0 8px 8px white inset;
    }
    #downloadbtn {
        position: absolute;
        width: 10%;
        top: 60%;
    }
    #textnexttodownload {
        position: absolute;
        width: 30%;
        top: 60%;
        right: 5%;
        font-size: 1rem;
        line-height: 1;
    }
}

@media (min-width:700px) {
    #box {
        width: 30%;
        height: 700px;
        position: relative;
    }
    #ad {
        width: 50%;
        position: absolute;
        top: 40%;
    }
    #clickedpic {
        position: absolute;
        top: 45%;
        right: 70%;
        width: 30%;
        height: 35%;
        box-shadow: 0 0 8px 8px white inset;
    }
    #downloadbtn {
        position: absolute;
        width: 10%;
        height: 100px;
        top: 65%;
        left: 35%;
    }
    #textnexttodownload {
        position: absolute;
        width: 50%;
        top: 70%;
        right: 5%;
        font-size: 1.7rem;
        line-height: 1;
    }
}