@media (min-width:320px) {
    #box {
        width: 50%;
        position: relative;
        left: 20%;
    }
    #ad {
        width: 84%;
        position: absolute;
        top: 90%;
        left: 5%;
    }
    #clickedpic {
        position: absolute;
        top: 45%;
        right: 30.2%;
        width: 49.2%;
        height: 40%;
        box-shadow: 0 0 8px 8px white inset;
    }
    #downloadbtn {
        position: absolute;
        width: 10%;
        top: 113%;
        right: 65%;
    }
    #textnexttodownload {
        position: absolute;
        width: 50%;
        top: 115.5%;
        right: 14%;
        font-size: 1rem;
        line-height: 1;
    }
    #roadcastfooter {
        width: 100%;
        text-align: center;
        font-size: 1rem;
        position: absolute;
        top: 123%;
        right: 2%;
    }
}

@media (min-width:700px) {
    #box {
        width: 30%;
        position: relative;
        left: 20%;
    }
    #ad {
        width: 70%;
        position: absolute;
        top: 30%;
        left: 50%;
    }
    #clickedpic {
        position: absolute;
        top: 45%;
        right: 50.2%;
        width: 29.2%;
        height: 40%;
        box-shadow: 0 0 8px 8px white inset;
    }
    #downloadbtn {
        position: absolute;
        width: 10%;
        top: 113%;
        right: 77%;
    }
    #textnexttodownload {
        position: absolute;
        width: 40%;
        top: 115%;
        right: 34%;
        font-size: 1rem;
        line-height: 1;
    }
    #roadcastfooter {
        width: 100%;
        text-align: center;
        font-size: 1rem;
        position: absolute;
        top: 105%;
        right: inherit;
    }
}